<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Food</title>
</head>

<body>
    <h1>Edit Food</h1>
    <form id="edit-form" action="/foods/<%= food._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= food.name %>" required>

        <label for="price">Price:</label>
        <input type="number" name="price" value="<%= food.price %>" required>

        <label for="img">Image URL:</label>
        <input type="file" name="img" required>

        <label for="address">Address:</label>
        <input type="text" name="address" value="<%= food.address %>" required>

        <label for="category">Category:</label>
        <select name="category_id" required>
            <% categories.forEach(category=> { %>
                <option value="<%= category._id %>" <%=category._id.equals(food.category_id) ? 'selected' : '' %>>
                    <%= category.name %>
                </option>
                <% }) %>
        </select>

        <button type="button" onclick="confirmAction('edit-form')">Update Product</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </form>

    <a href="/">Back to Home</a>

    <script>
        async function confirmAction(formId) {
            if (confirm("Are you sure you want to proceed?")) {
                const form = document.getElementById(formId);
                const formData = new FormData(form);

                const response = await fetch(form.action, {
                    method: 'POST',
                    body: formData,
                });

                const result = await response.json();
                alert(result.message);
                if (response.ok) {
                    window.location.href = '/';
                }
            }
        }
    </script>
</body>

</html>